@model StatTracker.Models.Project

@using Microsoft.AspNetCore.Identity;
@using StatTracker.Services.Interfaces
@using StatTracker.Models.Enums

@inject IBTFileService _btFileService
@inject IBTProjectService _ProjectService
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTRolesService RoleService

@{
    ViewData["Title"] = "Details";
    BTUser? btUser = await UserManager.GetUserAsync(User);
    BTUser? projectManager = await _ProjectService.GetProjectManagerAsync(Model.Id);
}



<div>
    <div class="container-fluid">
        <div class="row gy-2">
            <!-- Project Details -->
            <div class="col-md-12">
                <h1>Project Details</h1>
                <div class="col">
                    <div class="card">
                        <div class="card-body task-detail">
                            <div class="dropdown float-end">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!-- item-->
                                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="dropdown-item">Edit</a>
                                    <!-- item-->
                                    <a asp-action="Delete" asp-route-id="@Model?.Id" class="dropdown-item">Delete</a>
                                    <!-- item-->
                                    <a asp-action="Create" asp-controller="Tickets" asp-route-id="@Model?.Id" class="dropdown-item">Create New Ticket</a>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <img class="flex-shrink-0 me-3 rounded-circle avatar-md" alt="64x64" src="@_btFileService.ConvertByteArrayToFile(Model!.ImageFileData!, Model!.ImageFileType!, (int)DefaultImage.ProjectImage)">
                                <div class="flex-grow-1">
                                    <h4 class="media-heading mt-0">@Html.DisplayFor(model => model.Name)</h4>
                                    <span class="badge bg-danger">@Html.DisplayFor(model => model.ProjectPriority!.Name)</span>
                                </div>
                            </div>

                            <h4><strong>Project:</strong> @Html.DisplayFor(model => model.Name)</h4>

                            <p class="text-muted" style="overflow-y:auto;height:200px;">
                                <strong>Details:</strong> @Html.Raw(Model.Description)
                            </p>

                            <div class="row task-dates mb-0 mt-2">
                                <div class="col-lg-6">
                                    <h5 class="font-600 m-b-5">Start Date</h5>
                                    <p> <small class="text-muted">@Html.DisplayFor(model => model.StartDate)</small></p>
                                </div>

                                <div class="col-lg-6">
                                    <h5 class="font-600 m-b-5">Due Date</h5>
                                    <p> <small class="text-muted">@Html.DisplayFor(model => model.EndDate)</small></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            @* <div class="task-tags mt-2">
                            <h5>Tags</h5>
                            <input type="text" class="selectize-close-btn" value="Amsterdam,Washington,Sydney" data-role="tagsinput" placeholder="add tags" />
                            </div>*@

                            <div class="assign-team mt-3">
                                <h5>Assigned to</h5>
                                <div>
                                    @foreach (BTUser member in Model.Members)
                                    {
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="@member.FullName"> <img class="rounded-circle avatar-sm" alt="64x64" src="@_btFileService.ConvertByteArrayToFile(member!.ImageFileData!, member!.ImageFileType!, (int)DefaultImage.BTUserImage)"> </a>
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="AssignProjectMembers" asp-route-id="@Model.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Assign a new member">
                                            <span class="add-new-plus"><i class="mdi mdi-plus"></i></span>
                                        </a>
                                    }
                                </div>
                            </div>
                            @* TODO: get ticket attachments working ==================== *@
                            @*<div class="attached-files mt-3">
                            <h5>Attached Files </h5>
                            <ul class="list-inline files-list">
                            <li class="list-inline-item file-box">
                            <a href=""><img src="assets/images/attached-files/img-1.jpg" class="img-fluid img-thumbnail" alt="attached-img" width="80"></a>
                            <p class="font-13 mb-1 text-muted"><small>File one</small></p>
                            </li>
                            <li class="list-inline-item file-box">
                            <a href=""><img src="assets/images/attached-files/img-2.jpg" class="img-fluid img-thumbnail" alt="attached-img" width="80"></a>
                            <p class="font-13 mb-1 text-muted"><small>Attached-2</small></p>
                            </li>
                            <li class="list-inline-item file-box">
                            <a href=""><img src="assets/images/attached-files/img-3.jpg" class="img-fluid img-thumbnail" alt="attached-img" width="80"></a>
                            <p class="font-13 mb-1 text-muted"><small>Dribbble shot</small></p>
                            </li>
                            <li class="list-inline-item file-box ms-2">
                            <div class="fileupload add-new-plus">
                            <span><i class="mdi-plus mdi"></i></span>
                            <input type="file" class="upload">
                            </div>
                            </li>
                            </ul>
                            <div class="row">
                            <div class="col-sm-12">
                            <div class="text-end">
                            <button type="submit" class="btn btn-success waves-effect waves-light me-1">
                            Save
                            </button>
                            <button type="button"
                            class="btn btn-light waves-effect">
                            Cancel
                            </button>
                            </div>
                            </div>
                            </div>
                            </div>*@
                            <div class="progress">
                                @* Razor code block *@
                                @{
                                    var start = Model.StartDate;
                                    var end = Model.EndDate;
                                    var today = DateTime.Now;
                                    var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                }
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                    @* Use Progress Bar code variable here *@
                                    <span class="progress-value">@percent%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- end col -->
            </div>
            <!-- Project Manager -->
            <div class="col-md-6 col mt-5 ">
                <div class="card m-1 p-2">
                    <div class="header">
                        <h2>Project Manager</h2>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="AssignPM" asp-route-id="@Model.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Assign/Edit Project Manager" class="btn btn-outline-secondary rounded-pill waves-effect waves-light">
                                <strong>Edit Project Manager</strong>
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        }
                        <hr />
                    </div>
                    <div class="body" style="overflow-y:auto;height:300px;">
                        @* if() logic for Avatar/Default etc *@
                        @if (projectManager != null)
                        {
                            <img src="@_btFileService.ConvertByteArrayToFile(projectManager.ImageFileData!, projectManager.ImageFileType!, (int)DefaultImage.BTUserImage)" alt="Post Images" class="rounded-circle avatar-sm" />
                            @(projectManager?.FullName)
                        }
                    </div>
                </div>
            </div>
            <!-- Project Members -->
            <div class="col-md-6 col mt-5 ">
                <div class="card m-1 p-2">
                    <div class="header">
                        <h2>Project Team</h2>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="AssignProjectMembers" asp-route-id="@Model.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Assign a new member" class="btn btn-outline-secondary rounded-pill">
                                <strong>Assign a new member</strong>
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        }
                        <hr />
                    </div>
                    <div class="body" style="overflow-y:auto;height:300px;">
                        <ul class="right_chat list-unstyled mb-0">

                            @foreach (BTUser members in Model.Members)
                            {
                                <li>
                                    @* Logic for avatars *@
                                    <img src="@_btFileService.ConvertByteArrayToFile(members.ImageFileData!, members.ImageFileType!, (int)DefaultImage.BTUserImage)" alt="Post Images" class="rounded-circle avatar-sm" />
                                    @Html.DisplayFor(model => members.FullName)
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
            <!-- Tickets Table -->
            <div class="col-md-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Tickets</h4>
                        <table id="datatable" class="table table-bordered dt-responsive table-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Created</th>
                                    <th>Developer</th>
                                    <th>Submitter</th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (Ticket ticket in Model.Tickets!)
                                {
                                    <tr>
                                        <td><a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">@Html.DisplayFor(modelItem => ticket.Title)</a></td>
                                        <td>@Html.DisplayFor(modelItem => ticket.Created)</td>
                                        <td>@Html.DisplayFor(modelItem => ticket.DeveloperUser!.FullName)</td>
                                        <td>@Html.DisplayFor(modelItem => ticket.SubmitterUser!.FullName)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div> <!-- end col -->
        </div>
    </div>
</div>
<div class="mt-2">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning rounded-pill">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary rounded-pill">Back to Projects</a>
</div>
